venv
venv/
.history
.history/

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
env/
ENV/
env.bak/
venv.bak/

# Secret environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints
